
.signon-app {
    background: #2C3A42;;
    font-family: 'Muli', sans-serif;
    display: none;
}
.signon-app header {
    margin: 0 auto;
    background: #fff;
    padding: 60px 0;
}
.signon-app header hgroup h1 {
    background:url(/img/logo/iqvia_236x44.png) 0 0 no-repeat;
    width: 236px;
    height: 44px;
}
.signon-app header hgroup h2 {
    display: none;
}

.signon-app .container {
    width: 100%;
    margin: 0;
    background: #2C3A47;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: none;
    height: 100%;
}
.signon-app section .row .column .header-title {
    color: #fff;
    padding-bottom: 8px;
    display: inline-block;
    letter-spacing: 3px;
}
.signon-app section .row .column .header-title span{
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 5px solid #3DB3E1;
    display: inline-block;
    letter-spacing: 3px;
}
.signon-app input {
    background: #fff;
    border-radius: 10px;
}
@media only screen and (max-width: 1150px){
    .signon-app .container {
        width: 100%;
        margin: 0;
    }
    
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .signon-app section .row {
        width: 360px;
        margin: 0 auto;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
