header hgroup h1 {
    background:url(/img/logo/iqvia_236x44.png) 0 0 no-repeat;
    width: 236px;
    height: 44px;
}

.container {
    width: 100%;
    margin: 0;
    background: #2C3A47;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: none;
    height: 100%;
}
input {
    background: #fff;
    border-radius: 10px;
}
@media only screen and (max-width: 1150px){
    .container {
        width: 100%;
        margin: 0;
    }
    
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
