<!-- 
  snap-menu.html
 -->
<!-- Welcome -->
<!-- <div class="cui-desktop-menu__option" ui-sref="welcome" ui-sref-active="active" ng-if="!base.user.id" ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">{{'welcome' | translate}}</span>
  <cui-icon cui-svg-icon="fa:four29" svg-class="cui-desktop-menu__icon" viewBox="0 0 216 146" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div> -->


<!-- All Clinical Trials -->
<div class="cui-desktop-menu__option" ui-sref="applications.allTrials" ui-sref-active-nested="active" ng-if="base.user.id" ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">Clinical Trials</span>
  <cui-icon cui-svg-icon="cui:applications_v2" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div>

<!-- Trial Overview -->
<div class="cui-desktop-menu__option" ui-sref="applications.trialOverview" ui-sref-active-nested="active" ng-if="base.user.id" ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">Trial Overview</span>
  <cui-icon cui-svg-icon="cui:applications_v2" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div>

<!-- FitBit Data 1 -->
<div class="cui-desktop-menu__option" ui-sref="applications.fitbitData1" ui-sref-active-nested="active" ng-if="base.user.id" ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">FitBit Data 1</span>
  <cui-icon cui-svg-icon="cui:applications_v2" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div>

<!-- FitBit Data 2 -->
<div class="cui-desktop-menu__option" ui-sref="applications.fitbitData2" ui-sref-active-nested="active" ng-if="base.user.id" ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">FitBit Data 2</span>
  <cui-icon cui-svg-icon="cui:applications_v2" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div>

<!-- FitBit Data 3 -->
<div class="cui-desktop-menu__option" ui-sref="applications.fitbitData3" ui-sref-active-nested="active" ng-if="base.user.id" ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">FitBit Data 3</span>
  <cui-icon cui-svg-icon="cui:applications_v2" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div>
  
<!-- Kanni -->
<!-- <div class="cui-desktop-menu__option" ui-sref="applications.myApplications" ui-sref-active-nested="active" ng-if="base.user.id" ng-click="base.menu.desktop.close()">
    <span class="cui-desktop-menu__option-name">Kanni's Page</span>
    <cui-icon cui-svg-icon="cui:applications_v2" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
  </div>   -->

<!-- Ecosystems -->
<!-- <div class="cui-desktop-menu__option" ui-sref="applications.ecosystems" ui-sref-active-nested="active" ng-if="base.user.id" ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">Ecosystems</span>
  <cui-icon cui-svg-icon="cui:applications_v2" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div> -->

<!-- Organization Profile -->
<!-- <div class="cui-desktop-menu__option" ui-sref="organization.profile({orgId:base.user.organization.id})" ui-sref-active-nested="active" ng-if="base.user.id" ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">{{'my-organization' | translate}}</span>
  <cui-icon cui-svg-icon="cui:organization" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div> -->

<!-- Pending Requests -->
<!-- <div class="cui-desktop-menu__option" ui-sref="pendingAppRequests" ui-sref-active-nested="active" ng-if="base.user.id" ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">{{'cui-my-app-requests' | translate}}</span>
  <cui-icon cui-svg-icon="cui:status-pending" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div> -->

<!-- ADMIN TEST -->
<!-- <div class="cui-desktop-menu__option" 
 ng-show="base.isPermitted({
 	all: {
 		roles: {
 			any: ['TIB Administrator', 'Choc']
 		}, 
 		entitlements: {
 			any: ['Modify No Fly List', 'Vani']
 		} 
 	} 
 })"
 ui-sref="organization.profile" 
 ui-sref-active="active"
 ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">Permitted POC</span>
  <cui-icon cui-svg-icon="cui:gift" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div> -->

<!-- ADMIN -->
<!-- <div class="cui-desktop-menu__option" 
 ng-if="base.isOrgAdmin()"
 ui-sref="organization.requests.usersRegistrationRequests" 
 ui-sref-active="active"
 ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">{{'cui-org-user-requests' | translate}}</span>
  <cui-icon cui-svg-icon="cui:game-2" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div> -->

<!-- Invite Requests -->
<!-- <div class="cui-desktop-menu__option" ui-sref="invitation.inviteSelect" ui-sref-active-nested="active" ng-click="base.menu.desktop.close()" ng-if="base.accessByAnyAdmin()">
  <span class="cui-desktop-menu__option-name">{{'invite' | translate}}</span>
  <cui-icon cui-svg-icon="cui:mail-open" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div> -->

